В классе обработки меню есть три типа функций
1. с суффиксом _show - отображают какой либо уровень меню
2. с суффиксом _request - выводят какой либо запрос на последующие действия
3. с суффиксом _action - функция исполняет какое либо действие
4. с префикс _ - обозначает функцию, которая вызывается в служебных целях из других функций класса

Функция dialog.run_background работает по следующему принципу:

1. Запускает в фоне необходимую функцию func_start и устанавливает флаг запуска context.user_data['action']
    в True - фиксируя начало исполнения фоновой функции func_start

2. После запуска func_start вызывается func_finish - текущий уровень меню с обновленными данными. Если данные
    (заголовок или кнопки) не менять, то будет ошибка - данные должны быть изменены. С целью предотвращения
    этого был введен флаг запуска context.user_data['action'], который помогает отслеживать начало и завершение
    фоновой функции внутри диалога, через общий для всех словарь context.user_data

3. Выводит результаты фоновой функции, после ее завершения, в виде сообщений в телеграмме и автоматически
    удаляет их после определенного временного интервала заданного в DELAY_BEFORE_DELETE

4. После завершения func_start вновь исполняется функция func_finish, в случае, если пользователь еще НЕ успел
    перейти на другой уровень меню (context.user_data[etag.callback] == menu_level)
    и затем устанавливается флаг context.user_data['action'] в False - фиксируя завершение
    исполнения фоновой функции func_start.

Во всех функциях с суффиксом _show и _request, т.е. в тех функциях, кои отображают меню и запросы необходимо
позаботится об установке декоратора set_menu_level, аргумент которого menu_level фиксирует текущий уровень меню
и который проверяется в функции dialog.run_background, которая вызывается почти из всех функция с суффиксом _action и которая
служит для отработки процедуры исполнения каких либо действий в фоне.
Это необходимо для предотвращения ситуации, когда пользователь уже покинул текущее меню, и чтобы функция
dialog.run_background снова не возвращалась на запомненный уровень меню, после того, как исполнит задачу запущенную в фоне.

Так же, в dialog.run_background существует механизм, который позволяет отслеживать ИЗ ВНЕ запуск и завершение фоновой
функции func_start, с этой целью изменяется переменная context.user_data['action'], True - функция начала свое выполнение и
False - фоновая функция работу завершила.